*{
    margin: 0;
    padding: 0;
}

/* PANEL SUPERIOR */
.header-panel .container-header-panel{
    display: flex;
    flex-wrap: nowrap;
    background-color: blue;
}
    /* BOTON BARRAS */
    .header-panel .container-header-panel .bars img{
        width: 100px;
    }

    /* PERFIL CONTENEDOR */
    .header-panel .container-header-panel .profile{
        display: block;
    }

    .header-panel .container-header-panel .profile img{
        width: 100px;
    }

    .header-panel .container-header-panel .profile span{
        text-align: center;
    }

    /* NOTIFICACIONES */

/* PANEL MAPA */
.map-panel .container-map{
    width: 390px;
}

/* PANEL MENU STRIP */
.menu-panel .menu-container{
    background-color:beige;
    border-radius: 50px;
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}