@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* VARIABLES PARA COLORES */
:root {
    --color-azul: #0047ab;
    --color-blanco: rgb(231, 231, 231);
    --color-sombra: rgba(84, 84, 84, 0.62);
    --color-borde-azul: rgb(0, 0, 255);
    --color-barra-menu-desplegar: rgb(160, 160, 160);
}

*{
    width: 390px;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    overflow: hidden;
    height: 844px;
}

/* PANEL SUPERIOR */
.header-panel .container-header-panel{
    width: 390px;
    height: 150px;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-azul);
    box-shadow: 0 0 27px 0 var(--color-sombra);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
    /* BOTON BARRAS */
    .header-panel .container-header-panel .bars{
        font-size: 65px;
        margin-left: 10px;
        width: 130px;
    }
    .header-panel .container-header-panel .bars i{
        width: 50px;
    }

    /* PERFIL CONTENEDOR */
    .header-panel .container-header-panel .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 130px;
        text-align: center;
    }
    .header-panel .container-header-panel .profile .profile-img{
        border-radius: 50%;
        border: 5px solid var(--color-borde-azul);
        background-color: var(--color-blanco);
        width: 60px;
        height: 60px;
    }
    .header-panel .container-header-panel .profile .profile-img img{
        width: 45px;
        height: 45px;
    }
    .header-panel .container-header-panel .profile span{
        text-align: center;
        width: 130px;
        font-size: 12px;
    }

    /* NOTIFICACIONES */
    .header-panel .container-header-panel .notificacion{
        font-size: 40px;
        text-align: center;
        width: 130px;
    }
    .header-panel .container-header-panel .notificacion i{
        width: 50px;
    }